body {
  margin: 0;
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.header {
  position: relative;
  text-align: center;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  padding: 0.5rem 2rem;
}

.logo {
  font-size: 1.5rem;
  color: #fff;
}

.logo .highlight {
  color: #00a86b;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4rem;
}

.nav-links li {
  display: inline;
}

.nav-links a {
  color: white;
  text-decoration: none;
}

.auth-buttons {
  display: flex;
  gap: 0.5rem;
}

.login-btn, .join-btn {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
}

.join-btn {
  background-color: #00a86b;
  color: white;
}

.banner {
  background: url('images/DoodleArt.png') no-repeat center center/cover;
  height: 245px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 700;
  margin: 0;
}

.banner p {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0.5rem 0;
}

.search-bar {
  margin-top: 1rem;
}

.search-bar input {
  padding: 0.5rem;
  width: 200px;
}

.search-btn {
  padding: 0.5rem 1rem;
  background-color: #00a86b;
  color: white;
  border: none;
  cursor: pointer;
}

.featured-art {
  padding: 2rem;
  text-align: center;

}

.featured-art h2 {
  margin-bottom: 1rem;
}

.art-grid {
  padding-left: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.art-item img {
  width: 95%;
  display: block;
  border-radius: 5px;
}

.form {
  background-color: #c5c2c2; /* Light background color for contrast */
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 2rem auto;
  text-align: center;
}

.form h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #333;
}

.fields {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.input-fields {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}

.input-fields label {
  font-size: 1rem;
  color: #333;
  font-weight: bold;
}

.input-fields input {
  padding: 0.7rem;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
}

.input-fields input:focus {
  outline: none;
  border-color: #00a86b; /* Highlighted border on focus */
  box-shadow: 0 0 5px rgba(0, 168, 107, 0.5);
}

form button {
  margin-top: 1rem;
  padding: 0.7rem 2rem;
  background-color: #00a86b;
  color: white;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #007f57; /* Darker shade on hover */
}
  
#footer {
    background-color: #333;
    color: #fff;
    height: 30px;
    text-align: center;
}